<div style="background-image:url(./css/images/bg.jpg);height:100vh">
    <nav>
        <div class="col-md-11 col-md-offset-1 nopadding">
            <div class="col-md-5 nopadding"></div>
            <div class="col-md-1 nopadding" style="background-color:#3AB0FF">
                <img style="margin:auto;display:block" width="60" height="60" src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/ideas-icon.png">
            </div>
            <div class="col-md-5 nopadding"></div>
        </div>
    </nav>
    <div class="container" style="margin-top:20px;padding:15px;">
        <div class="col-md-12 col-sm-12 col-xs-12 nopadding" style="border-radius: 10px;border: solid 6px #2785c4;">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="col-md-9 col-sm-9 col-xs-9 nopadding">
                    <div id='messageBox'>
                        <div ng-repeat='msg in messages'>
                            <p ng-class='{"text-success": msg.type === "join", "text-danger": msg.type === "left"}' style="margin:0">
                                <b ng-class='{"username": (user === msg.username && msg.type !== "join")}'>{{msg.username}}: </b> {{msg.message}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 nopadding" style="padding: 5px;background-color: rgb(221, 221, 221);">
                        <form ng-submit='sendMessage(msg)'>
                            <div class="col-md-10 col-sm-10 nopadding">
                                <input ng-model='msg' class="form-control msgInput" required>
                            </div>
                            <div class="col-md-2 col-sm-2 nopadding">
                                <button id='chatbtn' class="btn-block msgInput" style="height:60px">
                                    <i class="fa fa-paper-plane"></i>
                                    <span>&nbspSEND</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 nopadding" id='userBox'>
                    <h1 class="text-center" style="margin-bottom:0;">USERS</h1>
                    <p class="text-center text-success" style="border-bottom: solid 1px #474747;">online: {{users.length}}</p>
                    <div id="userList">
                        <li id="individualUser" ng-repeat='user in users'>
                            <img width="20" class="img-circle" src="./css/images/personIcon.png">{{user.username}}
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
