<div class="container" style="margin-top:20px;background-color:#545445">
    <div class="col-md-12" style="background-color:#fff">
        <div class="col-md-12 nopadding">
            <div id='messageBox'>
            </div>
        </div>
        <div class="col-md-10 nopadding">
            <textarea class="form-control" style="height:60px"></textarea>
        </div>
        <div class="col-md-2 nopadding">
            <button class="btn btn-primary btn-block" style="height:60px">Send</button>
        </div>
    </div>
</div>
