<div class="container" style="margin-top:20px;background-color:#545445;padding:15px;border-radius: 4px;">
    <div class="col-md-12 nopadding" style="background-color: #fff;border-radius: 10px;border: solid 6px #80BD01;">
        <div class="col-md-12 nopadding">
            <div class="col-md-9 nopadding">
                <div id='messageBox'>
                </div>
            </div>
            <div class="col-md-3 nopadding" id='userBox'>
                <h1 class="text-center">USERS</h1>
            </div>
        </div>
        <div class="col-md-12 nopadding" style="padding-top:8px">
            <div class="col-md-10 nopadding">
                <textarea class="form-control" style="height:60px"></textarea>
            </div>
            <div class="col-md-2 nopadding">
                <button class="btn btn-primary btn-block" style="height:60px">Send</button>
            </div>
        </div>
    </div>
</div>
