<!DOCTYPE html>
<html ng-app='app'>
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="/css/site.css">
<link rel="stylesheet" type="text/css" href="/css/particle.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<head>
    <title></title>
</head>

<body style="background-color:#0da0cb" onUnload='alert("Hello!")'>
    <div ng-controller='NavController as nav'>
        <ui-view></ui-view>
    </div>
    <!-- particle and socket -->
    <script src="/javascript/particles/particle.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <!-- Angular files -->
    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="bootbox.js/bootbox.js"></script>
    <!-- Javascript module app -->
    <script src="/javascript/app.js"></script>
    <script src="/javascript/particles/particle.js"></script>
    <!-- Services -->
    <script src="/javascript/services/SocketFactory.js"></script>
    <!-- Controllers -->
    <script src="/javascript/controllers/NavController.js"></script>
    <script src="/javascript/controllers/ChatController.js"></script>
    <!-- Directives -->
    <script src="/javascript/directives/load.js"></script>
    <script src="/javascript/directives/socketio.js"></script>
</body>

</html>
