<!DOCTYPE html>
<html ng-app='app'>
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="/css/site.css">
<link rel="stylesheet" type="text/css" href="/css/particle.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<head>
    <title></title>
</head>

<body>
    <div ng-controller='NavController as vm'>
        <div ng-show='vm.particle' id="particles-js">
            <div class="col-md-6 col-md-offset-3" style="text-align:center;position:absolute;margin-top:11%">
                <h1 id="hometxt"><span style='color:#FFA22E'>TEK</span> KLUB</h1>
                <p id="subtxt">Chat About The Lastest Tech <span style='color:#FFA22E;'><b> +</b> </span> Meet Interesting People</p>
                <button ng-click='vm.particle = false' class="button">Join Chat!</button>
            </div>
        </div>
        <div ng-show='!vm.particle'>
            <ui-view></ui-view>
        </div>
    </div>
    <script src="particles.js/particles.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <!-- Angular files -->
    <!-- directives -->
    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/javascript/directives/socketio.js"></script>
    <!-- Javascript module app -->
    <script src="/javascript/app.js"></script>
    <script src="/javascript/particles/particle.js"></script>
    <!-- Services -->
    <script src="/javascript/services/SocketFactory.js"></script>
    <!-- Controllers -->
    <script src="/javascript/controllers/NavController.js"></script>
    <script src="/javascript/controllers/ChatController.js"></script>
</body>

</html>
