@import url(https://fonts.googleapis.com/css?family=Exo+2:100italic,100);
html {
    height: 100%;
}

body {
    height: 100%;
}

nav {
    position: relative;
    height: 60px;
    background-color: #279CEB;
}

.button {
    text-align: center;
    position: relative;
    background-color: #FFA22E;
    color: white;
    border: none;
    font-size: 28px;
    font-family: monospace;
    padding: 0 80px;
    border-radius: 40px;
    margin-top: 25px;
}

#hometxt {
    text-align: center;
    position: relative;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 120px;
}

#subtxt {
    color: #fff;
    font-size: 18px;
    font-family: monospace;
}

#messageBox {
    height: 60vh;
    border-bottom: solid black 1px;
}

#userBox {
    height: 60vh;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
}

.nopadding {
    padding: 0;
}


/*#dropdown {
    background-color: #006c87;
    display: none;
    position: absolute;
    right: 0;
}

.shownav {
    display: block !important;
}

#stack {
    cursor: pointer;
    color: #fff;
    font-size: 45px;
    padding: 1px 10px 0 0px;
}
*/
